.card{
    border-radius: 20px;
    width: 100%;
    height: auto;
    padding: 26px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    background-color: #F9FBFF;
    align-items: center;
    justify-content: center;

}
.button{
    background: #0075FF;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    height: 45.72px;
    width: 191px;
    font-size: 1em;
}

.text{
    line-height: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
    font-weight: 300;
}

.welcome{
    font-weight: 500;
    font-size: 13.36px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.title{
    font-size: 18px;
    font-weight: 400;
    color: #0032FF;
    line-height: 23.4px;
    margin-bottom: 15px;
}
.title span{
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .card{
        border-radius: 20px;
        width: 85%;
        min-height: 800px;
        height: auto;
        padding: 32px 56px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        font-size: 16px;
        background-color: #F9FBFF;
        align-items: center;
        justify-content: center;
    }
    .text{
        display: flex;
        flex-direction: column;
        gap: 17px;
        margin-bottom: 36px;
        font-weight: 300;
    }
    .title{
        font-size: 26px;
        font-weight: 400;
        color: #0032FF;
        line-height: 39px;
        margin-bottom: 12px;
    }
    .title span{
        font-weight: 600;
    }
}


@media screen and (min-width: 992px) {
    .card{
        border-radius: 20px;
        width: 761px;
        min-height: 800px;
        height: auto;
        padding: 36px 64px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        font-size: 18px;
        background-color: #F9FBFF;
        align-items: center;
        justify-content: center;
    }
    .text{
        line-height: 32px;
        display: flex;
        flex-direction: column;
        gap: 17px;
        margin-bottom: 39px;
        font-weight: 300;
    }
    .title{
        font-size: 30px;
        font-weight: 400;
        color: #0032FF;
        line-height: 39px;
        margin-bottom: 12px;
    }
    .title span{
        font-weight: 600;
    }
}


