.main{
    pointer-events: initial;
    width: 391px;
    height: 802px;
    background-color: aquamarine;
    border-radius: 20px;
    background: #F9FBFF;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.symbol{
    background: #CECECE;
    height: 3px;
    width: 147px;
    position: absolute;
    top: 9px;
}
