.super{
  flex-grow: 1;
  /* height: auto; */
  border: 1px solid red;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.main {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;

}

.card{
  position: absolute;
  top: 11px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
  pointer-events: none;
  transition: 0.5s;
}

.card.active{
  height: 200px;
  top:530px;
  transition: 0.5s;
}  

@media screen and (min-width: 768px) {
  .main {
  }
}
