.main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 10px;
}

@media screen and (min-width: 768px) {
  .main{
    padding: 44px 61px;
    justify-content: start;
  }
}


